.list-container {
  padding: 10px 24px;
  /*height: 100vh;*/
  width: 96%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
}

h2 {
  border-bottom: 1px solid lightgray;
}

.providers-list {
  flex: 1;
}
